.container {
    margin-top: 1%;
    padding: 1%;
    background-color: black;
}

.container p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
}