/*Animations*/
/* @keyframes header1 {
    from {
        transform: translateX(-400%);
    }

    to {
        transform: translateX(2%);
    }
} */

@keyframes fade {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.container1 {
    padding: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.container1 h1 {
    color: tomato;
    animation: fade 3s ease-in 0s 1 normal none;
    font: 4em sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container2 {
    padding: 5%;
    padding-bottom: 5%;
    padding-left: 2%;
}

.container2 h3 {
    float: left;
    position: absolute;
    left: 20%;
    font: 300% sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;
    color: rgb(255, 136, 0);
}

.container2 ul {
    float: right;
    position: absolute;
    right: 20%;
    top: auto;
}

.container2 a {
    color: rgb(228, 178, 40);
    font: 150% sans-serif;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgb(15, 15, 13);
}

ul {
    list-style: none;
}